* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./images/background.png) no-repeat center center fixed;
    background-size: cover;

    font-family: "Manrope", sans-serif;
    color: #40679E;
}


.first_heading {
    font-family: "Roboto Mono", monospace;

    width: 307px;
    height: 42px;
    margin-top: 30px;
    margin-left: 47px;
    gap: 0px;
    opacity: 0px;

    font-family: Roboto Mono;
    font-size: 32px;
    font-weight: bolder;
    line-height: 42.2px;
    letter-spacing: 0.04em;
    text-align: left;

}

.first_heading span {
    font-weight: 500;
    font-size: 1.5rem;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_container h1 {
    font-family: "Nunito", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.main_container span {
    color: #424242;
    font-size: 0.7rem;
    letter-spacing: 1px;
}



.search_container {
    margin-top: 2vh;
}

.search-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #40679e;
    color: white;
    border: none;
    outline-style: none;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 0px 0px 3px 0px #666666;
}

.search-input-container input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    padding: 0 10px;
    width: 330px;

    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    letter-spacing: 0.06em;
    text-align: left;

}

::placeholder {
    color: white;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}



.upper_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
    margin-bottom: 2vh;
}

.upper_navbar span {
    font-weight: 700;
}

.img_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vh 1vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue_part {
    width: 93vw;
    height: 10vh;
    background-color: #40679e;
    display: flex;
    justify-content: space-between;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.left {
    display: flex;
}

.blue_part .date_day {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue_part .date_day span {
    margin-left: 3vw;
    margin-right: 2vw;
    color: white;
    text-align: center;
}

.date_day .day {
    font-size: 1rem;
    font-weight: 300;
}

.date_day .date {
    font-size: 0.8rem;
    font-weight: 300;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather img {
    width: 30px;
}

.weather span {
    color: white;
    font-size: 0.8rem;
}

.conditions {
    margin-right: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.condition {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conditions img {
    width: 20px;
    margin-right: 5px;
}

.conditions span {
    color: white;
    font-size: 0.8rem;
    margin-right: 1.5vw;
}


.white_part {
    width: 93vw;
    height: 40vh;
    margin-bottom: 2vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.day_wise_conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0 2vw;
}

.conditions_day {
    font-size: 1rem;
    font-weight: 500;
}

.conditions_date {
    font-size: 0.6rem;
}

.condition_image {
    margin-top: 1vh;
    width: 40px;
}

.cond {
    text-align: center;

}

.conditions_condition {
    font-size: 1.1rem;
    margin-bottom: 2vh;
}

.sub_condition {
    display: flex;
    margin-bottom: 2vh;
}

.sub_condition span {
    font-size: 0.7rem;
    font-weight: 700;
    margin-left: 0.5vw;
    text-align: right;
}